/*
a {
	color: #872708;
}

.leftmenu a, .collapseClose {
	color: #872708;
}

h1, h2, h3, h4 {
	background-color: #df430d;
}
*/

/** NEW **/

tbody, tfoot, thead { margin: 0; padding: 0; border: 0; outline: none; line-height: 1.35em; }

.hashlink {
	display: none;
}

#header {
	height: auto;
	border: none;
}

#content {
    margin: auto;
}

div#sidebar {
	margin-right: 15px;
	margin-left: -15px;
	border-left: none;
	border-right: 1px #cbcbcb solid
}


/* Fix the menu */

#favorites {
	width: 100%;
	padding: 0;
	margin: 0;
}

.leftmenu .hashlink {
	display: none;
}

.leftmenu h3 { 
	background-color: inherit; 
	color: inherit;
	font-size: 18px;
    height: auto;
    line-height: 28px;
}

.leftmenu a { color: #069; }

.collapsebody ul {
	padding: 5px 0 0 0;
}

.collapsebody ul li {
	padding: 3px 0 3px 15px;
}

.collapsebox {
    border: none;
    clear: right;
    margin: 0 0 0.5em;
}

.collapsebox .collapsebody { 
	padding: 0; 
}

.collapsetitle {
	padding: 0;
	border: none;
}

.collapseBullet, .collapseOpen, .collapseClose { 
	clear: left; float: left; text-align: center; text-decoration: none; color: blue; font: bold small Monaco, "Courier New", Courier, monospace; width: 1.2em; height: 1em; 
	line-height: 28px;
}

/*********************************************************/

.tabs {
    max-width: inherit;
    border: none;
    padding: 0;
}

.tabmenu {
	padding: 0;
	border-bottom: 1px solid #ddd;
}

.tabmenu a {
    float: inherit;
    margin: 0 1px -1px 0;
    
    background-color: transparent;
    cursor: default;
  
    line-height: 1.42857;
    margin-right: 2px;
    
	display: inline-block;
    padding: 10px 15px;
    position: relative;
    border: none;
    border-radius: 4px 4px 0 0;
}

.tabmenu a.activetab {
	float: inherit;
    margin: 0 1px -1px 0;
    
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    color: #555;
    cursor: default;
  
  
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
    
	display: inline-block;
    padding: 10px 15px;
    position: relative;
}


.tabmenu a:focus, .tabmenu a:hover {
    background-color: #eee;
    cursor: pointer;
}

#pagecontent {
	padding: 0;
}

.tabs .pagination {
	display: block;
	border-radius: 0;
	margin: 0.25em 0;
}

.tabs #findcontent h4 {
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 28px;
	height: 28px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}

.zebra-table tr:nth-child(odd) td { background-color: #eee !important; }

.graphBar {
    background-color: #f93;
    color: #f93;
    border: 0 solid transparent;
}

.gBar {
	padding: 0 0 0 3px;
}

/* wikitable */

table.wikitable {
	border: 1px solid #fff;
	width: 100%;
}

/* table of content in content area */
div.toc {
    width: 100%;
    float: inherit;
}

div.toc ul li {
	border-left: 8px solid #df430d;
	margin: 1px 0;
	padding: 0 0 0 5px;
}


